{{ define "main" }}
  {{ with .Content }}{{ . }}{{ end }}

  {{ if .IsSection }}
    {{ $children := (union .Sections .RegularPages) }}
    {{ $children = where $children ".Params.hide_summary" "!=" true }}
    {{ $children = where $children "Type" "!=" "search" }}
    {{/* Sort: weight asc, then title asc */}}
    {{ $children = sort $children "Weight" "asc" "Title" "asc" }}

    <ul>
      {{ range $children }}
        <li>
          <a href="{{ .RelPermalink }}">{{ .LinkTitle | default .Title }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
{{ end }}

